{% extends 'manager/account_layout.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<section class="content">
    <div class="">
        <div class="container-fluid">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-sm-12">
                            <h2>All Customer Incomings</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a  href="{% url 'home' %}"><i class="zmdi zmdi-home"></i> {{site_name}}</a></li>
                                <li class="breadcrumb-item active">Customer Incoming Summary</li>
                            </ul>
                            <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12">                
                            <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                            {% if data.extendedauthuser.role != 'Tertiary' %}
                                <a href="{% url 'customer incoming' %}" data-toggle="tooltip" title="New order" class="btn btn-info btn-icon float-right " type="button"><i class="zmdi zmdi-plus"></i>New</a>
                            {% endif %}
                           
                        </div>
                    </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card project_list">
                        <div class="table-responsive table-results">
                            <h5><strong>|Items</strong> {{count|intcomma}}</h5>
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable  c_table theme-color ">
                                <thead>
                                    <tr>                                       
                                        <th>#</th>
                                        <th>Action</th>
                                        <th>PDF</th>
                                        <th>CNTR#</th>
                                        <th>MBL#</th>
                                        <th>Seal#</th>                                        
                                        <th>Ship</th>
                                        <th>Size</th>
                                        <th>Weight</th>
                                        <th>Type</th>
                                        <th>Port</th>
                                        <th>ETA</th>
                                        <th>Drop City</th>
                                        <th>Created At</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if incomings %}
                                     {% for item in incomings %}
                                        <tr id="id_{{item.id}}">
                                            <td>{{forloop.counter}}.</td>
                                            <td>
                                                {% if data.extendedauthuser.role != 'Tertiary' %}
                                                    <a href="{% url 'edit incoming' id=item.id %}" data-toggle="tooltip" title="Edit quote item" class="btn btn-primary btn-icon " type="button"><i class="zmdi zmdi-edit"></i></a>
                                                    <a data-host="{% url 'do incomings' %}" href="{% url 'delete incoming' id=item.id %}" data-toggle="tooltip" title="Delete quote item" class="del-data btn btn-danger btn-icon" type="button"><i class="zmdi zmdi-delete"></i></a>
                                                {% else %}
                                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit order item" class="btn btn-primary btn-icon " type="button"><i class="zmdi zmdi-edit"></i></a>
                                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Delete order item"  class="btn btn-danger btn-icon" type="button"><i class="zmdi zmdi-delete"></i></a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if item.pdf %}
                                                <a href="/media{{item.pdf.url}}"  target="_blank" data-toggle="tooltip" title="View file" class="btn btn-info btn-icon "><i class="zmdi zmdi-eye"></i></a> |
                                                <a  href="/media{{item.pdf.url}}" data-toggle="tooltip" title="Download file" class="btn btn-outline-success btn-icon" download><i class="zmdi zmdi-download"></i></a>
                                                {% else %}
                                                    No PDF file found
                                                {% endif %}
                                            </td>
                                            <td>{{item.cntr|default:'No data'}}</td>

                                            <td>{{item.mbl|default:'No data'}}</td>

                                            <td>{{item.seal|default:'No data'}}</td>

                                            <td>{{item.ship|default:'No data'}}</td>

                                            <td>{{item.size|default:'No data'}}</td>

                                            <td>{{item.weight|default:'No data'}}</td>

                                            <td>{{item.type|default:'No data'}}</td>

                                            <td>{{item.port|default:'No data'}}</td>

                                            <td>{{item.eta|default:'No data'}}</td>

                                            <td>{{item.drop_city|default:'No data'}}</td>

                                            <td>{{item.created_at|default:'No data'}}</td>
                                        </tr>
                                     {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="14" class="text-center">
                                            <p class="text-info"><i class="zmdi zmdi-alert-triangle"></i> No customer incoming item(s) found.</p>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination pagination-primary mt-4">
                            {% if users.has_previous %}
                            <li class="page-item active"><a class="page-link" href="{% url 'view users' %}?page={{users.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                            {% endif %}
                            {% if users.has_next %}
                            <li class="page-item active"><a class="page-link" href="{% url 'view users' %}?page={{users.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}