{% extends 'manager/account_layout.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<section class="content">
    <div class="">
        <div class="container-fluid">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-sm-12">
                            <h2>{{ordername}} | Logs Summary</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a  href="{% url 'home' %}"><i class="zmdi zmdi-home"></i> {{site_name}}</a></li>
                                <li class="breadcrumb-item "><a href="{% url 'edit order' id=order_id %}">Tabulate {{ordername}}</a></li>
                                <li class="breadcrumb-item active">{{ordername}} recent order logs</li>
                            </ul>
                            <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12">                
                            <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                            <a href="{% url 'edit order' id=order_id %}" class="btn btn-success btn-icon float-right" data-toggle="tooltip" title="go back" type="button"><i class="zmdi zmdi-arrow-left"></i></a>
                           
                        </div>
                    </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card project_list">
                        <div class="table-responsive table-results">
                            <h5><strong>|Items</strong> {{count|intcomma}}</h5>
                           <!--  <div class="text-left">
                                 <a data-host="{% url 'order logs' id=order_id  %}" href="{% url 'delete all order logs' %}" data-toggle="tooltip" title="Delete all logs" class="del-data btn btn-danger btn-icon" type="button"><i class="zmdi zmdi-delete"></i></a>
                            </div> -->
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable  c_table theme-color ">
                                {% if logs %}
                                    {% for item in logs %}
                                    <tr  id="id_{{item.id}}" class="pr-2">
                                        <th>{{forloop.counter}}</th>
                                        <th> {{item.created_at}}</th>
                                        <td><b class="text-info">Action:</b> {{item.action}}</td>
                                        <td><b class="text-info">Changes made:</b>
                                        {% if item.status %}Status:{{item.status}}{% endif %} {% if item.date %}| Date:{{item.date}}{% endif %} {% if item.pierpass %}| Pierpass:{{item.pierpass}}{% endif %} {% if item.mbl %}| Mbl:{{item.mbl}}{% endif %}
                                        {% if item.hbl %}| Hbl:{{item.hbl}}{% endif %} {% if item.customer %}| Customer:{{item.customer}}{% endif %} {% if item.container %}| Container:{{item.container}}{% endif %} {% if item.type %}| Type:{{item.type}}{% endif %}
                                        {% if item.seal %} | Seal:{{item.seal}}{% endif %} {% if item.drop_city %}| Drop City:{{item.drop_city}}{% endif %} {% if item.discharge_port %}| Discharge Port:{{item.discharge_port}}{% endif %} {% if item.port_eta %}| Port ETA:{{item.port_eta}}{% endif %}
                                        {% if item.lfd %}| LFD:{{item.lfd}}{% endif %} {% if item.trucking %}| Trucking:{{item.trucking}}{% endif %} {% if item.east_deliver %}| Est.Deliver:{{item.east_deliver}}{% endif %} {% if item.appointment %}| Appointment:{{item.appointment}}{% endif %}
                                        {% if item.actual_deliver %}| Actual deliver:{{item.actual_deliver}}{% endif %} {% if item.driver %}| Driver:{{item.driver}}{% endif %} {% if item.empty_return %}| Empty Return :{{item.empty_return}}{% endif %} {% if item.chasis %}| Chassis:{{item.chasis}}{% endif %}
                                        {% if item.demurrage %}| Demmurage:{{item.demurrage}}{% endif %} {% if item.invoice_sent %}| Invoice Sent:{{item.invoice_sent}}{% endif %} {% if item.invoice %}| Invoice :{{item.invoice}}{% endif %} {% if item.invoice_dolla %}| Invoice $:{{item.invoice_dolla}}{% endif %}
                                        {% if item.a_rrry %}| A/R:{{item.a_rrry}}{% endif %} {% if item.a_ppy %}| A/P:{{item.a_ppy}}{% endif %} {% if item.customer_email %}| customer Email :{{item.customer_email}}{% endif %} {% if item.notify %}| Notify $:{{item.notify}}{% endif %}{% if item.acct_email %}| ACCT Email $:{{item.acct_email}}{% endif %}
                                        {% if item.media %}| File $:{{item.media}}{% endif %}
                                        </td>
                                        <td><b class="text-danger">By:</b> {{item.user}} [{% if item.role == 'Admin' %}<span class="text-success">{{item.role}}</span>{% elif item.role == 'Secondary' %}<span class="text-warning">{{item.role}}</span>{% else %}<span class="text-primary">{{item.role}}</span>{% endif %}]</td>
                                        <!-- <td>
                                            {% if data.is_superuser %}
                                                <a data-host="{% url 'order logs' id=order_id %}" href="{% url 'delete single order log' id=item.id %}" data-toggle="tooltip" title="Delete order item" class="del-data3 btn btn-danger btn-icon" type="button"><i class="zmdi zmdi-delete"></i></a>
                                            {% else %}
                                                <a href="javascript:void(0)"data-toggle="tooltip" title="Delete order item" class="btn btn-danger btn-icon" type="button"><i class="zmdi zmdi-delete"></i></a>
                                            {% endif %}
                                        </td> -->
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <p class="text-info"><i class="zmdi zmdi-alert-triangle"></i> No log(s) found.</p>
                                        </td>
                                    </tr>
                                {% endif %}
                               
                            </table>
                        </div>
                        <ul class="pagination pagination-primary mt-4">
                            {% if logs.has_previous %}
                            <li class="page-item active"><a class="page-link" href="{% url 'view logs' %}?page={{logs.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                            {% endif %}
                            {% if logs.has_next %}
                            <li class="page-item active"><a class="page-link" href="{% url 'view logs' %}?page={{logs.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}