{% extends 'manager/customer_layout.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<section class="content">
    <div class="">
        <div class="container-fluid">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-sm-12">
                            <h2>Customer order status</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a  href="{% url 'home' %}"><i class="zmdi zmdi-home"></i> {{site_name}}</a></li>
                                <li class="breadcrumb-item active">Order summary</li>
                            </ul>
                            <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12">                
                            <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                            {% if data.is_authenticated %}
                                <a href="{% url 'home' %}" data-toggle="tooltip" title="go back" class="btn btn-info btn-icon float-right " type="button"><i class="zmdi zmdi-arrow-left"></i></a>
                            {% endif %}
                           
                        </div>
                    </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card project_list">
                       <div class="row">
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.prefix %} {{orders.prefix}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                                {% if orders.status == 'Cancelled pickup' %}
                                    <button class="btn btn-danger">{{orders.status}}</button>
                                {% elif orders.status == 'On ship' %}
                                    <button class="btn btn-info">{{orders.status}}</button>
                                {% elif orders.status == 'Invoice sent' %}
                                    <button class="btn btn-success">{{orders.status}}</button>
                                {% elif orders.status == 'closed area' %}
                                    <button class="btn btn-danger">{{orders.status}}</button>
                                {% elif orders.status == 'Assigned driver' %}
                                    <button class="btn btn-info">{{orders.status}}</button>
                                {% elif orders.status == 'Delivered' %}
                                    <button class="btn btn-success">{{orders.status}}</button>
                                {% else %}
                                    <button class="btn btn-info">{{orders.status}}</button>
                                {% endif %}
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.date %}{{orders.date}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.pierpass %}{{orders.pierpass}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.mbl %}{{orders.mbl}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.hbl %}{{orders.hbl}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.customer %}{{orders.customer}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.container %}{{orders.container}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.type %}{{orders.type}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.seal %}{{orders.seal}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.drop_city %}{{orders.drop_city}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.discharge_port %}{{orders.discharge_port}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.port_eta %}{{orders.port_eta}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.lfd %}{{orders.lfd}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.trucking %}{{orders.trucking}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.east_deliver %}{{orders.east_deliver}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.appointment %}{{orders.appointment}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.actual_deliver %}{{orders.actual_deliver}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.driver %}{{orders.driver}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.empty_return %}{{orders.empty_return}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.chasis %}{{orders.chasis}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.demurrage %}{{orders.demurrage}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.invoice_sent %}{{orders.invoice_sent}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.invoice %}{{orders.invoice}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.invoice_dolla %}{{orders.invoice_dolla}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.a_rrry %}{{orders.a_rrry}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.a_ppy %}{{orders.a_ppy}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.customer_email %}{{orders.customer_email}}{% else %} None {% endif %}</button>
                           </div> 
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.notify %}{{orders.notify}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                               <button class="btn btn-secondary">{% if orders.acct_email %}{{orders.acct_email}}{% else %} None {% endif %}</button>
                           </div>
                           <div class="col-md-4 col-6">
                                {% if item.media %}
                                    <a href="/media{{item.media.url}}" target="_blank" class="btn btn-secondary">View File</a>
                                {% else %}
                                    <a href="javascript:void(0)" class="btn btn-secondary">No File</a>
                                {% endif %}
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}