{% extends 'manager/account_layout.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<section class="content">
    <div class="">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Tabulate order | {{editor.ordername}}</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a  href="{% url 'home' %}"><i class="zmdi zmdi-home"></i> {{site_name}}</a></li>
                        <li class="breadcrumb-item "><a href="{% url 'order summary' %}">order summary</a></li>
                        <li class="breadcrumb-item active">Tabulate order</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class=" col-lg-5 col-md-6 col-sm-12 ">                
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                    <a  href="{% url 'order logs' id=form_id %}" class="btn btn-success btn-icon float-right " data-toggle="tooltip" title="order history" type="button"><i class="zmdi zmdi-rotate-right"></i></a>
                    <a  href="{% url 'order summary'%}" class="btn btn-info btn-icon float-right " data-toggle="tooltip" title="go back" type="button"><i class="zmdi zmdi-arrow-left"></i></a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card position-relative">
                        <div class="load-overlay users-overlay" style="display:none">
                            <span class="overlay-close btn-remove" title="close overlay"><i class="fa fa-close"></i></span>
                            <div class="wrapper-overlay">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="loader-container">
                                        <div class="innerloader">
                                            <svg class="circular" viewBox="25 25 50 50">
                                            <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                                            </svg>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header">
                            <h2><strong>|Tabulate</strong> info</h2>
                        </div>
                        <div class="body">
                            <form action="{% url 'edit order' id=form_id %}" method="post" class="spreadsheetForm">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""> <span class="badge badge-primary counter-wrapper">1</span> Status</label>
                                            {{form.status}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""> <span class="badge badge-primary counter-wrapper">2</span> Date</label>
                                            {{form.date}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">3</span> Pierpass</label>
                                            {{form.pierpass}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">4</span> MBL#</label>
                                            {{form.mbl}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">5</span> HBL#</label>
                                            {{form.hbl}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">6</span> Customer</label>
                                            {{form.customer}}
                                            {% if customerlist %}
                                                <datalist id="customerlist">
                                                {% for item in customerlist %}
                                                    <option value="{{item.customer}}">
                                                {% endfor %}
                                                </datalist>
                                            {% endif %}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">7</span> Container#</label>
                                            {{form.container}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">8</span> Type</label>
                                            {{form.type}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">9</span> Seal#</label>
                                            {{form.seal}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">10</span> Drop city</label>
                                            {{form.drop_city}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">11</span> Discharge Port</label>
                                            {{form.discharge_port}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">12</span> Port ETA</label>
                                            {{form.port_eta}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">13</span> LFD</label>
                                            {{form.lfd}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">14</span> Trucking</label>
                                            {{form.trucking}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">15</span> EST.deliver</label>
                                            {{form.east_deliver}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">16</span> Appointment</label>
                                            {{form.appointment}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">17</span> Actual deliver</label>
                                            {{form.actual_deliver}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">18</span> Driver</label>
                                            {{form.driver}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">19</span> Empty Return</label>
                                            {{form.empty_return}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">20</span> Chassis</label>
                                            {{form.chasis}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">21</span> Demurrage</label>
                                            {{form.demurrage}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">22</span> Invoice Sent</label>
                                            {{form.invoice_sent}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">23</span> Invoice#</label>
                                            {{form.invoice}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">24</span> Invoice $</label>
                                            {{form.invoice_dolla}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">25</span> A/R</label>
                                            {{form.a_rrry}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">26</span> A/P</label>
                                            {{form.a_ppy}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">27</span> Customer Email</label>
                                            {{form.customer_email}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">28</span> Notify</label>
                                            {{form.notify}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">29</span> ACCT Email</label>
                                            {{form.acct_email}}
                                            <div class="feedback"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">30</span> Add comment</label>
                                            {{form.comment}}
                                            <div class="feedback"></div>
                                        </div>
                                   </div>
                                   <div class="col-12" >
                                        <div class="form-group">
                                            <label for=""><span class="badge badge-primary counter-wrapper">31</span> Upload Files</label>
                                            <div class="wrapper" style="border:1px dotted #222342">
                                                <div class="text-center">
                                                    <a href="#" class="btn btn-primary" type="button" data-toggle="modal" data-target="#file-modal"><i class="zmdi zmdi-attachment-alt"></i> Browse Files to Upload</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3 text-center">
                                        <a title="copy link" href="javascript:void(0)" ><i data-toggle="tooltip" data-clipboard-text="{{site_url}}/view/{{link}}/" title="copy link" class="text-info zmdi zmdi-copy copy-button"></i> Copy link</a>
                                        <button type="button" data-url="{% url 'send notification' %}" data-id="{{form_id}}" class="btn btn-info send_notification">Send notification</button>
                                        <button class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 <!-- File Upload Modal -->
 <div id="file-modal" class="modal fade  bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="mySmallModalLabel">Select item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
           <div class="wrapper">
                <header class="upload-header">File Uploader</header>
                <form  class="upload-form" action="{% url 'file upload' id=form_id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input class="file-input" name="media" type="file" hidden>
                    <i class="zmdi zmdi-cloud-upload"></i>
                    <p><i class="zmdi zmdi-attachment-alt"></i> Browse File to Upload</p>
                </form>
                <section class="sec progress-area "></section>
                <section class="sec uploaded-area"></section>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}